#main-titulo{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#main-titulo h4{
    text-align: center;
    margin-top: 10px;
}

.align-text{
    text-align: center;
}

.button-create-workout{
    margin-bottom: 15px;
}