<ion-header>
  <ion-toolbar class="main-tollbar">
    <ion-title id="main-title">
      Seu Treino APP
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="main-content">
    <ion-card-header>
      <img src="../../assets/images/logo.png" alt="seu-treino-logo" id="main-logo">
    </ion-card-header>
  
    <ion-card-content>
      <div id="main-text">
        <h1>Bem Vindo!</h1>
      </div>
      <div>
        <ion-button expand="block" type="submit" (click)="goToLogin()">Vamos Treinar!</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="container">
    <div id="phrase-title">
      Frase do Dia:
    </div>
    <div class="content-div">
      <ion-spinner name="crescent" [hidden]="!loadingPhrase"></ion-spinner>
      <blockquote id="phrase-content" [hidden]="loadingPhrase">"{{phrase.text}}"</blockquote>
      <span [hidden]="loadingPhrase">{{phrase.author}}</span>
    </div>
  </div>
</ion-content>
